@font-face {
    font-family: roman;
    src: url(./NeueHaasDisplay-Roman.ttf);
}
@font-face {
    font-family: medium;
    src: url(./NeueHaasDisplay-Mediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}
.main{
    position: relative;
    z-index:10;
    
   
    background-position:bottom;
    
    

}


.page1{
    min-height:100vh;
    width: 100%;
    background:#EFEAE3;
    padding: 2.5vw 2vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-part img{

    height:5vw;

}

.right-part{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-part h4{
    font-family:roman;
    padding: 1vw 2vw;
    border: 1px solid #494848dc;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    
    
}
.right-part h4:hover a{
    color:whitesmoke;
    position: relative;
    z-index: 9;
    

    
    
}

.right-part a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    
    
}
.right-part h4::after{
    content: "";
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all ease 0.3s;
    border-radius: 50%;
    
}

.right-part h4:hover::after{
    bottom: 0;
    border-radius:0;
}


#center{
    height: 80vh;
    
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    
    border-bottom: 1.5px solid #D5D1CA;

    
}
.left-2 p{
    font-family: medium;
    font-size: 1.6rem;
    width:30vw;
    padding-left: 1rem;
    padding-bottom: 3rem;
}
.right-2{
    font-family: medium;
    font-size: 3.8rem;
    line-height: 6rem;
    padding-bottom: 3rem;
    text-align:right;
}

.hero-section{
    height: 30vw;
    width: 45vw;
    background: orangered;
    position:absolute;
    top:27%;
    right:0%;
    border-top-left-radius: 50%;
    filter: blur(20px);
    
}
.box1{
    height:65%;
    width: 65%;
    background: #000;
    border-radius: 50%;
    background: orangered;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position:absolute;
    animation-direction: alternate;
    transition: all ease 0.3s;


    
}

@keyframes anime{
    from{
        transform: translate(30%,-20%);
    }
    to{
        transform: translate(-10%,10%);
    
    }
}

video{
    position: relative;
    margin-top: 3rem;
    width: 100%;
    border-radius: 20px;
    
    
}
.page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    
    
    background: #EFEAE3;
}
.text-content{
    white-space: nowrap;
    padding-top: 4rem;
    overflow-x: auto;
}

.text-content::-webkit-scrollbar{
    display: none;

}

.con{
     
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    transition: all ease 0.3s;
    
    

}

.con h1{
    display: inline-block;
    white-space: nowrap;
    font-family: medium;
    font-size: 9vw;
}

.ball{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background:#FE330A;
    display: inline-block;
    margin: 1vw 3vw;
}

@keyframes move{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    
    }
}

.bottom{
    min-height: 80vh;
    width: 100%;
    background: #EFEAE3;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    margin-top: 5rem;
    
    
}

.bottom .left-bottom h3{
    
    font-size: 5vw;
    font-family: medium;
    font-size: 3.1rem;
    line-height: 3.4rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
}
.left-bottom{
    width: 60%;
    
}

.right-bottom{
    padding-top: 17vh;
    width: 22%;
    padding-right: 2vw;
}


.right-bottom img{
    
    height: 154px;
    border-radius: 15px;
    



}

.right-bottom h6{
    padding-top: 3rem;
    font-size: 0.9rem;
    font-family: roman;
    font-weight: 100;

}

.laddu{
    height: 31vw;
    width: 31vw;
    border-radius: 53%;
     background: linear-gradient(to right, #FE330A, #fe5f0a);
     position: absolute;
     top:58%;
     left:22%;
     animation-name: movingLaddu;
     animation-duration: 6s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     animation-direction: alternate;
     transition: all ease 0.3s;
     filter: blur(20px);
    ;

    

}

@keyframes movingLaddu {
  from {
    transform: translate(10%, -10%) skew(3deg, 15deg);
  }
  to {
    transform: translate(-10%, 10%) skew(-5deg, -5deg);
  }
}
.last-dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background:#FE330A ;

}

.last-line{
    display: flex;
    gap:0.5rem;
    align-items: center;
    margin-left: 2.5rem;
    padding-bottom: 2rem;

}
.last-line h3{
    font-family:roman;
    font-size: 1rem;
    font-weight: 100;

}
.page3{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    
    

}

.elem{
    height: 100px;
    position: relative;
    
    display: flex;
    align-items: center;
    overflow: hidden;
    
    

}
.elem h1{
    font-size:3vw;
    font-weight: 700;
    padding: 0 3vw;
    font-family: roman;
    position: relative;
    z-index: 9;
    


}
.elem .overlay{
    background: #FF9831;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    transition: all ease 0.3s;

}

.elem:hover .overlay{
    top:0%;
}

.fixed-image{
    height: 30vw;
    width: 25vw;
    
    position:fixed;
    left: 50%;
    top:10%;
    z-index:99;
    border-radius: 15px;
    
    display:none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    

}

button{
    padding: 1vw 1.5vw;
    margin-left: 3vw;
    margin-top: 3vw;
    border-radius: 50px;
    border: 1px solid grey;
    position: relative;
    overflow: hidden;
    cursor: pointer
}
button p{
    font-size:1.5vw ;
    position: relative;
    z-index: 9;
}

button:after{
    content: "";
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all ease 0.3s;
    border-radius: 50%;
    
}

button:hover:after{
    bottom: 0;
    border-radius:0;

}
.page4{
    min-height:100vh;
    width: 100%;
    background: #EFEAE3;
    padding:10rem 2rem;
    position: relative;

    
}
button:hover p{
    color:white;

}

.page4-center{
    
    height: 100vh;
    
    border-radius: 50px;
    
    
    display: flex;
    justify-content: space-between;
   
    



}
.center-left{
    width: 50%;
    border-top-left-radius: 30px;
    
    border-bottom-left-radius: 30px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: medium;
    
}

.center-left h1{
    font-size: 4vw;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:9rem;
    padding-left:8px;

    border-left:2px solid rgb(119, 119, 119);
    
    align-items: flex-start;
}

.center-left p{
    padding-left: 9rem;
    font-size:1rem;
    font-family: roman;
    font-weight:100;
    padding-top:1rem;
    width: 80%;
}




.center-left,.center-right{
    height:100vh;
    
    
    

}
.center-right{
 
    height: 100vh;
    width: 60%;
    background: #000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;


}

.center-right img{
    height: 100%;
    background-image: cover;
   
    width: 100%;
    
    border-radius: 30px;
}

.page5{
    height: 80vh;
    width: 100%;
    background: #EFEAE3;
    
}

.bottom-line{
    margin-top:6rem;
}

.page6{
    height: 100vh;
    width: 100%;
    
    
}
.footer-section{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index:9;
    display: flex;
    flex-direction:column ;
    justify-content:space-between;
    padding:0  2vw;
    color: white;
    background-image:url(./Gemini_Generated_Image_vhclbyvhclbyvhcl.png);
    transition: all ease 0.4s;
   

}


.footer-section h1{
    color: white;
    font-size: 23vw;
    font-family:medium ;
}
.footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    font-family: medium;
}

.footer-left{
    border-left:2px solid black;
    padding-left: 1rem;
}

.footer-left h3{
    font-size: 2vw;
    gap: 1rem;
    
}

.footer-right{
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding:1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-right p{
    font-size: 1rem;
    font-family: roman;
    font-weight: 100;
    width: 100%;

}

.loader{
    height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    transition: all linear 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: trasparent;
    z-index:99; 
}
.loader h1{
    font-size: 4vw;
    font-family: medium;
    color: transparent;
    
    background: linear-gradient(to right,orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
     animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    
    

}
.loader h1:nth-child(2){
    animation-delay: 2s;
}
.loader h1:nth-child(3){
    animation-delay: 3s;
   
    
    
}


@keyframes load{
    0%{
        opacity: 0;

    }
    10%{
        opacity:1;
    }

    90%{
        opacity:1;
    }

    100%{
        opacity:0;

    }
}






